.contato{
	background-color: var(--bg-segundo);
	display: flex;


}

.contato__titulo{
	font-size: var(--fonte-titulo);
	font-weight: var(--fonte-bold);
	margin-bottom: .5rem;
}

.contato__info{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contato__paragrafo{
	line-height: var(--altura-linha);
	font-weight: 500;
}

.contato__formulario{
	display: flex;
	flex-direction: column;

}

.contato__input{
	margin-bottom: 1rem;
	border: 1px outset #fff;
	font-family: var(--fonte-family);
	font-size: 1.3rem;
	line-height: 1.9rem;
}

.contato__botao{
	background-color:var(--bg-segundo);
	color: #2a7ae4;
	font-weight: 900;
	font-size: 1rem;
	padding: .5rem 0;
	width: 50%;
	border: 3px inset #2a7ae4;
	border-radius: 50px;
	font-family: var(--fonte-family);
	letter-spacing: 7px;
	max-width: 320px;
}

@media screen and (min-width: 1024px){
	.contato{
		background-image: url("../assets/bg-contato1.png");
		background-repeat: no-repeat;
		background-size: 48% 100%;

		justify-content: flex-end;
	}

	.contato__info{
		width: 52%;
	}
}