.entrada{
	background-color: var(--bg-primeiro);
	display: flex;
	flex-direction: column-reverse;
}

.entrada__titulo{
	font-size: var(--fonte-titulo);
	font-weight: var(--fonte-bold);
}

.entrada__foto{
	margin-bottom: 1rem;
	width: 40%;
	text-align: center;
}
.entrada__foto img{
	width: 100%;
	border-radius: 30%;
	max-width: 200px;
}

.entrada__titulo{
	margin-bottom: 1rem;
}

.entrada__paragrafo{
	margin-bottom: 1rem;
	line-height: var(--altura-linha);
}

.entrada__nav{
	width: 100%;
}

.entrada__nav__itens{
	display: flex;
	justify-content: space-between;
	font-size: .9rem;
	letter-spacing: 3px;
}

.entrada__link{
	margin-right: .1rem;
	font-weight: 700;
}

@media screen and (min-width: 768px){
	.entrada{
		box-sizing: border-box;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.entrada__informacoes{
		padding-right: 1.5rem;
	}

	.entrada__foto img{
		max-width: 300px;
	}

	.entrada__nav__itens{
		justify-content: normal;
		font-size: 1rem;
	}

	.entrada__item img{
		width: 10px;
	}

	.entrada__item{
		padding-right: 3rem;
	}
}

@media screen and (min-width: 1024px){
	.entrada__nav{
		margin-top: 5rem;
	}

	.entrada__nav__itens{
		font-size: 1.3rem;
	}

	.entrada__item img{
		width: 12px;
	}

	.entrada__titulo{
		font-size: 2rem;
	}

	.entrada__paragrafo{
		font-size: 1.3rem;
	}
}