.experiencia{
	background-color: var(--bg-primeiro);
}

.experiencia__titulo{
	font-size: var(--fonte-titulo);
	font-weight: var(--fonte-bold);
	text-align: center;
	margin-bottom: 2rem;
}

.experiencia__boxes{
	display: flex;
	flex-direction: column;
}

.experiencia__div__img{
	width: 100%;
	display: flex;
	justify-content: center;
}

.experiencia__img{
	width: 100%;
	opacity: .8;
	min-height: 180px;

}

.experiencia__legenda1{
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
}

.experiencia__legenda2{
	font-size: .9rem;
	line-height: 1.5rem;
	font-weight: 500;
}

.experiencia__btns{
	display: flex;
	margin-bottom: 2.5rem;
	gap: 1rem;

}

.btn-rep{
	line-height: 1.5rem;
	font-size: .9rem;
	font-family: 'Raleway', sans-serif;
	background-color: var(--bg-primeiro);
	color: #2a7ae4;
	border: 1px solid #2a7ae4;
	width: 40%;
	max-width: 320px;
}

.btn-pro{
	line-height: 1.5rem;
	font-size: .9rem;
	font-family: 'Raleway', sans-serif;	
	background-color:#2a7ae4;
	color: #fff;
	border: none;
	width: 40%;
	max-width: 320px;
}


@media screen and (min-width: 768px){
	.experiencia__btns{
		margin-bottom: 4rem;
	}	

}

@media screen and (min-width: 1024px){
	.experiencia__box{
		display: flex;
		align-items: center;

	}
	.experiencia__box:nth-child(2n+1){
		flex-direction: row-reverse;
	}

	.experiencia__boxes{
		gap: 4rem;
	}

	.experiencia__box:nth-child(2n) ul{
		padding-left: 3rem;
	}

	.experiencia__legenda1{
		font-size: 1.3rem;
	}

	.experiencia__legenda2{
		font-size: 1.1rem;
	}
}
		


