:root{
	--altura-linha:  1.2rem;
	--bg-primeiro: #E5E5E5;
	--bg-segundo: #EAF2FD;
	--bg-box: #fff;
	--fonte-titulo: 1.5rem;
	--fonte-bold:  700;
	--fonte-family: 'Raleway', sans-serif;

	font-family: var(--fonte-family);
	color: #464646;
}

.container{
	padding:1rem 1rem 2rem;
}

.cabecalho__link,.entrada__link{
	text-decoration: none;
	color: #464646;
	font-weight: 500;
}

p{
	margin-bottom: 1rem;
}

.icone{
	width: 28px;
}

@media screen and (min-width: 1024px){
	.container{
		padding-left: 6rem;
		padding-right: 6rem;
	}
}
