.skills{
	background-color: var(--bg-primeiro);
	display: flex;
	flex-direction: column;
}

.skills__titulo{
	text-align: center;
	font-size: var(--fonte-titulo);
	font-weight: var(--fonte-bold);
	margin-bottom: 2rem;
}

.skills__itens{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.skills__box{
	align-items: flex-end;
	box-sizing: border-box;
	background-color: var(--bg-box);
	display: flex;
	flex-grow: 1;
	font-weight: 700;
	padding: 1rem ;
	width: calc(50% - 1rem);
	max-width: 350px;
	height: 100px;

}

.skills__img{
	margin-bottom: .5rem;
}

@media screen and (min-width: 768px){
	.skills__box{
		width: 30%;
	}
}

@media screen and (min-width: 1024px){
	.skills__box{
		width: 15%;
	}
}

